.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: -webkit-fill-available;
}

.footer-container .aligner {
    gap: 10rem;
}

.footer-container .menu-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-container .menu-column a {
    font-family: "SF UI Display";
    text-decoration: none;
    color: #2B2B2B;
}

.footer-container small {
    font-family: "SF UI Display";
    color: #2B2B2B;
    text-align: center;
    padding: 20px;
}