.header-container {
    display: flex;
    gap: 300px;
    border-radius: 25px;
    padding: 15px 25px;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    font-family: sf-medium;
    background: #f0f0f05c;
    box-shadow: 0 4px 30px rgba(246, 242, 239, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
    position: fixed;
    top: 20px;
    z-index: 100;
    max-width: 1200px;
    align-self: center;
}

.header-container img {
    width: 200px;
}

.header-container .menu-list {
    display: flex;
    list-style: none;
    gap: 10px;
}

.header-container .menu-list .menu-item a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Mona-Sans', sans-serif;
    font-weight: 700;
    transition: ease-in-out 0.3s;

    &:hover {
        color: #302F2F;
    }
}

